  body {
  height: 80vh;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 500% 500%;
  animation: animate 15s ease infinite;
}

@keyframes animate {
  0%   {background-position: 0% 50% } 
  50%  {background-position: 100% 50% } 
  100% {background-position: 0% 50% }
   } 

.centered{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

label{
font-family: Cursive;
background:#000;
  padding:10px 30px;
  border-radius:10px 0px 10px 10px;
  color:#fff;
      width: 50px;
    text-align: center;
}

[data-toggle="tooltip"]{
  margin:20px 60px;
  position:relative;
  display:inline-block;
}
[data-toggle="tooltip"]::before {
    content: "";
    position: absolute;
    top:-6px;
    left:50%;
    transform: translateX(-50%);
    border-width: 4px 6px 0 6px;
    border-style: solid;
    border-color: #181919 transparent transparent  transparent;
    z-index: 99;
    opacity:0;
}

[data-placement='left']::before{
  left:0%;
  top:50%;
  margin-left:-12px;
  transform:translateY(-50%) rotate(-90deg) 
}
[data-placement='top']::before{
  left:50%;
}
[data-placement='bottom']::before{
  top:100%;
  margin-top:8px;
  transform: translateX(-50%) translatey(-100%) rotate(-180deg)
}
[data-placement='right']::before{
  left:100%;
  top:50%;
  margin-left:1px;
  transform:translateY(-50%) rotate(90deg)
}

[data-toggle="tooltip"]::after {
    content: attr(tooltip-title);
    position: absolute;
    left:50%;
    top:-6px;
    transform: translateX(-50%)   translateY(-100%);
    background:#181919;
    text-align: center;
    color: #fff;
    padding:4px 2px;
    font-size: 12px;
    min-width: 150px;
    border-radius: 5px;
    pointer-events: none;
    padding: 4px 4px;
    z-index:99;
    opacity:0;
}

[data-placement='left']::after{
  left:0%;
  top:50%;
  margin-left:-8px;
  transform: translateX(-100%)   translateY(-50%);
}
[data-placement='top']::after{
  left:50%;
}
[data-placement='bottom']::after{
  top:100%;
  margin-top:8px;
  transform: translateX(-50%) translateY(0%);
}
[data-placement='right']::after{
  left:100%;
  top:50%;
  margin-left:8px;
  transform: translateX(0%)   translateY(-50%);
}

[data-toggle="tooltip"]:hover::after,[data-toggle="tooltip"]:hover::before {
   opacity:1
}
